<header style="display: flex; justify-content: space-between; align-items: center; padding: 20px 30px;">
    <div>
      <img src="images\logo.png" alt="TaskHive Logo" style="height: 30px;">
    </div>
    <div>
      <img src="images\avatar.png" alt="Profile Picture" style="height: 40px; width: 40px; border-radius: 50%;">
    </div>
  </header>